@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
